/Project1/playground.py
/Project1/.data-cifar/
/.idea/workspace.xml
.idea/
.weights/
Project1/.data/
*/__pycache__/
*/.ipynb_checkpoints/
/Project2/sound_playground.ipynb
/Project2/.data-audioset
/Project3/playground.ipynb
